@import "config";
@import "menu";

* {
  box-sizing: border-box;
}
body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//headings

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem; //one ram =16px beacuse html font size is 16px if we change html font size rem is also changing
  }
  &.sm-heading {
    margin-bottom: 1em;
    padding: 0.2rem 1rem;
    //lighten a color which we want to light
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2; //how element is close to you
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  // height: 100%;
  min-height: calc(100vh - 60px);
  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden; //no scroll bars
    h1 {
      margin-top: 20vh; //"view port heights" this is 100 line in across on all page and we take 20 in this example
    }
  }
}
#about h1 {
  font-size: 60px;
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: 1fr 1fr 1fr;
}

.bioimage {
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: 3px solid $secondary-color;
}

.bio {
  grid-area: bio;
  font-size: 1.5rem;
}
.job-1 {
  grid-area: job1;
}
.job-2 {
  grid-area: job2;
}
.job-3 {
  grid-area: job3;
}

.job {
  background: lighten($primary-color, 5);
  padding: 0.5rem;
  border-bottom: $secondary-color 5px solid;
  text-align: center;
}
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  img {
    width: 100%;
    border: 3px solid white;
    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}
//contact page

.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  .aside {
    color: white;
    position: relative;
    background-color: darken($secondary-color, 30);
    box-sizing: border-box;
    height: 100%;
    text-align: center;

    .text {
      padding-top: 30px;
    }

    .cross {
      position: absolute;
      border-bottom: 2px solid lightblue;
      top: 5px;
      height: 30px;
      width: 100%;
      .x {
        position: absolute;
        left: 10px;
        padding-bottom: 10px;
        top: -1px;
        font-weight: bold;
        height: 20px;
        width: 20px;
        border-radius: 15px;

        cursor: pointer;
      }
    }

    .form .control-form label {
      display: block;
    }
    .form button {
      margin: 10px 0;
      padding: 8px;
    }
    .form input {
      padding: 5px;
    }
  }
}
.aside {
  top: -400px;
  animation: drop 0.5s ease forwards;
}
.swing {
  animation: swing 2s ease forwards;
  transform-origin: 50px 50px;
}
@keyframes drop {
  0% {
    opacity: 0;
  }
  70% {
    transform: translateY(480px);
  }
  100% {
    transform: translateY(420px);
    opacity: 1;
  }
}

@keyframes swing {
  0% {
    transform: translateY(420px) rotateX(0deg);
  }
  75% {
    transform: translateY(420px) rotateX(90deg);
  }
  100% {
    transform: translateY(-700px);
    opacity: 0.3;
  }
}

.boxes {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  align-content: center;
  justify-items: center;
  margin-top: 2rem;
  div {
    font-size: 2rem;
    border: 3px solid white;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background-color: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

//button styles

.btn {
  display: block;
  padding: 0.5rem 1rem;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

footer {
  padding: 1rem;
  text-align: center;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

//style aside form

@import "mobile";
